In [1]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])

In [2]:
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

# 將以下問卷資料的職業(Profession)欄位缺失值填入字串'others'，更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

## 答:用get_dummies，因為職業是一般性的

In [3]:
q_df.fillna("others")

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [5]:
pf = pd.get_dummies(q_df["Profession"])

In [7]:
pd.concat([q_df, pf], axis=1) ##############################3

      Sex Profession  engineer  teacher
0    male    teacher         0        1
1    male   engineer         1        0
2  female       None         0        0
3  female   engineer         1        0